body{
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0px;
}

#titulo {
    font-size:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color: rgb(69, 13, 80);
    text-align: center;
}

div#todo{

    margin: auto;
    width: 1010px;
    height: 500px;

}
table{
    margin-left: 10px;
}
div#contenido1{
    width: 500px;
    height: 400px;
    display: inline-block;
}

div#contenido2{
    display: inline-block;
    margin: auto;
}

input#ress{
    display: block;
    margin: auto;
    width: 120px;
    height: 40px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color: rgb(69, 13, 80);
    background-color: rgb(244, 230, 248);
}

div#turno{
    width: 200px;
    height: 120px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color:rgb(69, 13, 80) ;
    
}
div#resultado{
    width: 200px;
    height: 120px;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    color: rgb(69, 13, 80);
}
.casilla{

    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    background-color: rgb(244, 230, 248);
}